.div{
   background-color: rgba(53, 53, 70, 0.418);
}

.input-titulo::placeholder{
   color: blue;
}


.nextui-c-kRHeuF{
   padding: 0;
   padding-top: 1%;
   width: 102%;
}

.to-do-item{
   width: 100%;
}

